
#down-type1 a:hover,#down-type2 a:hover,#down-type3 a:hover,#down-type4 a:hover{
    background-color: lightskyblue;
    border-radius: 20px;
}
#down-type1 a img:hover,#down-type2 a img:hover,#down-type3 a img:hover,#down-type4 a img:hover{
    background-color: lightskyblue;
    border-radius: 20px;
}
#type1 :hover , #type2 :hover , #type3 :hover, #type4 :hover{
    background-color: lightskyblue;
    border-radius: 15px;
}
.section-10-container-boxes:hover{
    animation: 10s border;
}
@keyframes border {
    0%{
        transform:translateX(0);
    }
    25%{
        transform: translateX(-100px);
    }
    50%{
        transform:translatez(-100px);
    }
    75%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(-50px);
    }
    
}